# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [22]:
Dict={}
type(Dict)

dict

In [23]:
Dict1=dict()
type(Dict1)

dict

In [24]:
data={'Alabama':'Montgomery',
     'Arizona':'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio':'Columbus'}

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [4]:
data['Ohio']

'Columbus'

In [5]:
data['Georgia']

'Atlanta'

In [6]:
# generate a key error if the key is not present in the dictionary
# data['New York']

In [7]:
day={1: 'Monday',
    2: 'Tuesday',
    4: ('Thursday', 'Friday'),
    5: ['Saturday','Sunday']}

### Update elements of a dictionary and add new elements

In [8]:
# Thursday
day[4][0]  #day[key][index]

'Thursday'

In [9]:
# Sunday
day[5][1]

'Sunday'

In [10]:
day[3]='wednesday'

In [11]:
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Sunday'],
 3: 'wednesday'}

In [12]:
# Update saturday to holiday
day[5][0]='Holiday' # access then assign
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Sunday'],
 3: 'wednesday'}

In [13]:
# update sunday to holiday
day[5][1]='holiday'
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'holiday'],
 3: 'wednesday'}

In [14]:
# update thursday to holiday
#day[4][0]='holiday' # can not update a tuple

### `get` and `update` methods
- get use to access a value from dictionary
- update the dictionary with a new value also update the old value

In [15]:
# return wednesday
day.get(3)

'wednesday'

In [16]:
# monday
day.get(1)

'Monday'

In [17]:
day.get(6) # not generating an error if the key is not present in the dictionary

In [18]:
#day[6] # generating an error

In [19]:
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'holiday'],
 3: 'wednesday'}

In [21]:
data={'Alabama':'Montgomery',
     'Arizona':'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio':'Columbus'}

In [ ]:
# update an old entry
data.update({'Kentucky':'Louisville'})
data

In [ ]:
# new entry
data.update({'Louisiana':'Baton Rouge'})
data

In [ ]:
data.update({'Missouri':'Jefferson City',
             'Kentucky':'Frankfurt'})
data

### Delete dictionary items using `del` and `pop`

In [ ]:
# delete Alabama using del method
del data['Alabama']
data

In [ ]:
#delete Ohio using pop
data.pop('Ohio')

In [ ]:
data

In [ ]:
# delete the dictionary
del data

In [ ]:
# name error as the dictionary not present any more
#data

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [ ]:
data=('Alabama':'Montgomery',
     'Arizona':'Pheonix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfurt',
     'Ohio':'Columbus')

In [ ]:
data.keys()

In [ ]:
data.values()

In [ ]:
data.items()

### Loop through a dictionary for

In [ ]:
# unpack the dictionary keys
for i in data.keys():
    print(i)
    print(type(i))

In [ ]:
# unpack the dictionary values 
for j in data.values():
    print(j)

In [ ]:
# dictionary items
for k in data.items():
    print(k)
    print(type(k))

In [ ]:
# unpack dictionary items
for j,k in data.items():
    print("state: ", j)
    print("capital: ", k)

### Convert dictionary to lists using `list()` function

In [ ]:
data

In [ ]:
# dictionary keys to a list
list(data.keys())

In [ ]:
# dictionary values to a list
list(data.values())

### A List in a Dictionary: How to unpack all of the entries?

In [ ]:
fav_language={'jen':['python', 'ruby'],
              'sarah':['c'],
              'edward':['ruby','java']
              'phil':['python','java']
    
}

In [ ]:
fav_language

In [ ]:
for name, subjects in fav_language.items():
    print(f"The name is : {name.title()}. The favourite languages are:{subjects} ")
    
    for i in subjects:
        print("\t\t\t\t\t\t",i)

###  A Dictionary in a Dictionary

In [ ]:
user={'einstein':{
    'first': 'albert',
    'last': 'einstein',
    'location':'prinston'
},
      'mcurie':{
          'first':'marie',
          'last':'curie',
          'location':'paris'
      }
    
}

In [ ]:
# albert
user['est']['first']

In [ ]:
#paris
user['mcurie']['location']

In [ ]:
for username, user_info in user.items():
    print("Username",username)
    #print(user_info)
    full_name=user_info['first']+" " +user_info['last']
    print("full name: ",full_name)
    print("location: ",user_info['location'] )